<%- include('header') %>

<div class="text-center">
<h1>Add an Album Review Below!</h1>
</div>
<div class ="container-md text-center">


<form method = "POST" id ="select" action ="/addalbumreview">
<div class="dropdown">
    <select id ="genre" name = "bandname">
        <% albumInfo.forEach((album) =>{ %> 
        <option value="<%= album.artist_album_id %>"><%= album.album_title %></option>
        
        <% }) %>
    </select>
    <div >
        <textarea name ="review" class="form-control" placeholder="Enter your review here!"></textarea>
    </div>
   
    <input class="btn btn-primary" type="submit" value="Submit">

</form>

</div>
<%- include('footer') %>