<%- include('header') %>
<body>
    <div class ="text-center">
    <h1>Welcome to the album section!</h1>
</div>

   
        <% albumInfo.forEach((album) =>{ %>
            <div class="container text-center">
            <p>
              <a href="/">  <%= album.album_title %></a><br>
              <div class="album_img">
              <img src="<%= album.img_path %>">  </a>
              </div>  
                <%= album.release_yr %>
                            

            </p>

        </div>

        <% }) %>
    

 
</body>
