<%- include('header') %>

<!DOCTYPE html>
<html>
<head>

    
</head>
<body>
 <header>
    <a href="\logout">logout</a>
 </header>
    <main>
        <div class="row">
            <div class ="col-sm"></div>
            <div class ="col-sm">
        <h2>Dashboard</h2>
        <div>
        <blockquote>
              <p>Add album review</p>
              <a href="/addalbumreview"><button name ="add" type="submit" class="btn btn-primary" type="button" value="submit">Add a review</button></a>
            </blockquote>
       </div>
       <div>
        <blockquote>
              <p>Add a collection review</p>
              <a href="/"><button name ="add" type="submit" class="btn btn-primary" type="button" value="submit">Add a review</button></a>
            </blockquote>
       </div>
       <div>
        <blockquote>
              <p>Update current album review</p>
              <a href="/"><button name ="add" type="submit" class="btn btn-primary" type="button" value="submit">Add a review</button></a>
            </blockquote>
       </div>
       <div>
        <blockquote>
              <p></p>
              <a href="/"><button name ="add" type="submit" class="btn btn-primary" type="button" value="submit">Add a review</button></a>
            </blockquote>
       </div>
    </div>
</div>
<div class ="col-sm"></div>

    </main>
</body>
</html>


<%- include('footer') %>