<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Stack Of StaxOfWax</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Halfmoon/1.0.4/css/halfmoon.min.css" integrity="sha512-7dQ9SpDRusB0AuLtR7I3eriXktzIPDjckPHWGESXOCOULsvCb8piUukRxu79vDOsCwPs3tXXCYyAn7SbHMKUQQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  

  <link rel="stylesheet" type="text/css" href="style.css">


</head>

<body>
  <div id="Navbar_Banner row">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <div class="col-2">
        <a class="navbar-brand" href="/">StaxOfWax</a>
      </div>

        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-md-0 col-6">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="reviews">Reviews</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="band">Bands</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="albums">Vinyls</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="genre">Genres</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="signUp">Sign Up</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="members">Members</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="contact">Contact us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="logout">Log out</a>
            </li>
            
            

          </ul>

          

         
          
          
<button class="btn btn-primary" type="button" onclick="toggleDemo()">Too Bright? Hit the lights</button>



<script src="https://cdn.jsdelivr.net/npm/halfmoon@1.1.1/js/halfmoon.min.js"></script>
<script type="text/javascript">
  
  function toggleDemo() {
    halfmoon.toggleDarkMode();
  }

</script>
        </div>
      </div>
    </nav>
  </div>

</body>