<%- include('header') %>
<div class ="text-center">
  <h1>Sign In below!</h1>
</div>


<form  method ="post">
<input name ="username" type="text" class="form-control" placeholder="UserName" >
<input name ="password" type="text" class="form-control" placeholder="Password" >

<button type="submit" class="btn btn-primary" type="button" value="submit">Submit</button>
</form>

<%- include('footer') %>%