
<%- include('header') %>

<body>
  <!-- Page wrapper with content-wrapper inside -->
  <div class="page-wrapper">
    <div class="content-wrapper">
      <!-- Container-fluid -->
      <div class="container-fluid">
        <!-- First comes a content container -->
        <div class="content text-center">
          <h1 class="content-title font-size-22"> 
           Your Reviews
          </h1>

          See what reviews you've left behind for others to review!
        </div>

        <% rows.forEach((review)=>{ %>

        <!-- Next comes a card -->
        <div class="card">
          <h2 class="card-title">
            <%= review.album_title %>
            <br>
            <br>
            <img src="<%= review.album_img_path %>">
          </h2>
          <%= review.review %>
        </div>

        <% }) %>

        
      </div>
    </div>
  </div>
</body>