<%- include('header') %>


    
        <div class="text-center">
            <h1>Welcome to your Collections!</h1>
        </div>
        <body>
        <% rows.forEach((collection)=>{ %>

         

            <div class="card">
                <h2 class="card-title text-center">


                  <%= collection.Title %> - <%= collection.album_title %>
                </h2>
                <div class ="album_img text-center">
                <p>
                    <img src ="<%= collection.album_img_path %>">
                </p>
            </div>
               
            </div>

            <% }) %>
    </body>