<%- include('header') %>

<div class ="text-center">
        <h1>Would you like to look at album reviews or collection reviews?</h1>
    </div>
 




<div class="container-fluid">
    <div class="row text-center">
      <div class="col-6">
       <a href ="albumreview"><button class="btn btn-primary" type="button">Vinyl Reviews</button></a>
      </div>

      <div class="col-6">
        <a href ="collectionreview"><button class="btn btn-primary" type="button">Collection Reviews</button></a>
      </div>
      
    </div>
  </div>

<%- include('footer') %>