<%- include('header') %>

<div class ="text-center">
        <h1>Add your own review below!</h1>
    </div>
 

<form  method ="post">
<input name ="album_name" type="text" class="form-control" placeholder="Use this to find album reference" >
<input name ="album_review" type="text" class="form-control" placeholder="Use this as text entry" >

<button type="submit" class="btn btn-primary" type="button" value="submit">Submit</button>
</form>


<%- include('footer') %>